{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block aboutactive %}active{% endblock aboutactive %}

<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cover/">

{% block css %}
<style>
    .btn-secondary,
    .btn-secondary:hover,
    .btn-secondary:focus {
        color: #333;
        text-shadow: none;
    }

    .container {
        min-height: 90vh;
    }

    .cover-container {
        max-width: 42em;
    }
</style>
{% endblock css %}

{% block body %}
<div class="container d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <main class="px-3">
            <h1>About Me</h1>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit
                the
                text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
                <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
            </p>
        </main>

    </div>
</div>

{% endblock body %}